
    <h1>WELCOME DOCTORS</h1>



    <div>

        {{#each doctors}}

        <h3>{{id}} . {{name}}</h3>
        {{subject1}} - {{subject2}} - {{subject3}} - {{subject4}}
        <br><br><br>


        {{/each}}


    </div>    
